<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <img class="me-3" src="assets/img/to-do-list.png" alt="">
    <div class="lh-1">
        <h1 class="h5 mb-0 text-white lh-1">To Do List</h1>
        <small>Since 2021</small>
    </div>
</div>

<div class="my-3 p-3 bg-body rounded shadow-sm">
    <div class="list-group">
        <ng-container *ngIf="dataSource | async as items">
            <ng-container *ngIf="items.length > 0">
                <label class="list-group-item d-flex gap-3" *ngFor="let item of items">
                    <input class="form-check-input flex-shrink-0" type="checkbox" value="{{item.id}}"
                        (change)="changeStatus($event)" [checked]="item.done">
                    <span [ngClass]="{'task-done': item.done}" class="pt-1 form-checked-content text-muted">
                        {{item.description}}
                    </span>
                </label>
            </ng-container>
        </ng-container>
        <form [formGroup]="fGroup" (ngSubmit)="add()">
            <label class="list-group-item d-flex gap-3 bg-light">
                <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0" disabled=""
                    type="checkbox">
                <input type="text" class="form-control" placeholder="Add new task..." formControlName="task">
            </label>
        </form>
    </div>
</div>
<div class="d-flex align-items-center p-3 my-3">
    <small class="text-muted text-center">Developed by <a href="https://github.com/fgouveia708" target="_blank">Fernando
            Gouveia</a></small>
</div>