.bg-purple {
    background-color: #6f42c1;
}
.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}
.form-check-input-placeholder {
    border-style: dashed;
}
.form-check-input:checked {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

h1 {
    font-weight: bold;
}

.form-control {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    &:focus {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        box-shadow: none;
    }
}

input[type="checkbox"] {
    font-size: 1.2em;
}

.task-done {
    text-decoration: line-through;
}
